<div class="welcome">
    <img class="logo center" src="assets/money.png" alt="" />
    <h3 class="title" align="center">curage</h3>
    <h2 class="message"align="center">Foreign exchange rates and currency historics</h2>
    <br>

    <p class="info"align="center">
    This project was created as a demonstration service of using Angular 4/5 to access RESTful API.
    <p>
      <br>
    <button class="button-continue" (click)="continue()" mat-button>CONTINUE</button>
    <h5 align="center" class="name"><small>Hlapho Neo</small></h5>
</div>
