<div layout="row" class="main-container">

<mat-toolbar class="mat-elevation-z4">
  <mat-toolbar-row>
      <div class="logo" (click)="navigate('home')" ></div>
     <span class="example-spacer"></span>
     <!-- <button mat-button class="login" (click)="navigate('login')">Sign in</button> -->
     <button mat-button class="signup">Sign up</button>
     <button mat-icon-button class="menu-small" [matMenuTriggerFor]="menu"><mat-icon style="color:#243949;">list</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item><mat-icon style="color:#243949;">account_circle</mat-icon>Sign in</button>
      <button mat-menu-item><mat-icon style="color:#243949;">list</mat-icon>Sign up</button>
    </mat-menu>

     <!-- <p> Log in</p>
     <p class="signup">Sign Up </p> -->
   </mat-toolbar-row>
</mat-toolbar>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12 strech"  style="background-color:#EEF3F6" no-float>
          <mat-card  class="signin-card">
            <h3 align="center">Sign in mosaik</h3>
                <form class="form-style-7">
                <ul>
                <li>
                    <label for="email" class="label">Email</label>
                    <input class="input" type="email" name="email" maxlength="100" [(ngModel)]="email">
                    <span class="message">{{emailError}}</span>
                </li>
                <li>
                    <label for="password" class="label">Password</label>
                    <input class="input"  type="password" name="password" maxlength="100" [(ngModel)]="password">
                    <span class="message">{{passwordError}}</span>
                </li>
                <h6 style="margin-top:-10px;"><a href="#" style="font-size:14px;  font-family: 'Montserrat', sans-serif !important;font-weight:300">Forgot your password?</a></h6>
                <button mat-button class="apply-button" (click)="signin()"><h4>Sign in</h4></button>
                <h5 align="center" style="margin-top:20px;margin-right:auto;margin-left:auto;display:block">
                  <span  style="opacity:0.8;font-weight:200">Don't have an account?</span> <span class="sign-text">Sign up</span>
                </h5>
                </ul>
            </form>
</mat-card>

        </div>

    </div>
</div>
</div>
