<div layout="row" class="main-container" *ngIf="render">
  <mat-toolbar class="mat-elevation-z4">
    <mat-toolbar-row>
        <div class="logo" (click)="navigate('reload')"></div>
       <span class="example-spacer"></span>
       <button mat-button [matMenuTriggerFor]="departments" class="departments">departments<mat-icon style="margin-left:5px;">keyboard_arrow_down</mat-icon></button>
        <mat-menu #departments="matMenu" >
          <button mat-menu-item>Basic Education</button>
          <button mat-menu-item>Communication</button>
          <button mat-menu-item>Energy</button>
          <button mat-menu-item>Public Works</button>
          <button mat-menu-item>Government Communication and Information System</button>
          <button mat-menu-item>Health</button>
          <button mat-menu-item>Higher Education and Training </button>
          <button mat-menu-item>Tourism</button>
          <button mat-menu-item>Labour</button>
          <button mat-menu-item>Transport</button>
          <button mat-menu-item>Cooperative Governance</button>
          <button mat-menu-item>Small Business Development</button>
        </mat-menu>
       <button mat-button class="login" (click)="navigate('login')">Sign in</button>
       <button mat-button class="signup" (click)="navigate('signup')">Sign up</button>
       <button mat-icon-button class="menu-small" [matMenuTriggerFor]="menu"><mat-icon style="color:#243949;">list</mat-icon></button>
      <mat-menu #menu="matMenu" class="small-menu">
        <button mat-menu-item (click)="navigate('login')"><mat-icon style="color:#243949;">account_circle</mat-icon>Sign in</button>
        <button mat-menu-item (click)="navigate('signup')"><mat-icon style="color:#243949;">insert emoticon</mat-icon>Sign up</button>
      </mat-menu>

       <!-- <p> Log in</p>
       <p class="signup">Sign Up </p> -->
     </mat-toolbar-row>
  </mat-toolbar>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 strech max " style="background-color:#243949" no-float>
              <h1 align="center" class="counter">{{this.jobs}} </h1><h4 align="center" style="color:#D98D36">Available Jobs.</h4>
              <h1 class="home-message" align="center">Amajobs, Central registry for government jobs<br></h1>
              <h1 class="home-message2" align="center">The jub hunt simplified, Government applies to you, all you have to do is to register and wait.</h1>
              <!-- <button mat-button class="apply-button"><h4>Browse Jobs!</h4></button> -->

              <div align="center" style="margin-top:60px">
                <form id="searchthis"  style="" method="get">
                <input id="namanyay-search-box" name="q" size="40" type="text" placeholder="Search by date "/>
                <input id="namanyay-search-btn" value="Search" type="submit"/>
                </form>
              </div>
            </div>
            <div class="col-xs-12 col-md-6 strech max " no-float>
              <mat-grid-list cols="3" rowHeight="3:1" class="logos">
                <mat-grid-tile class="logo1"></mat-grid-tile>
                <mat-grid-tile class="logo2"></mat-grid-tile>
                <mat-grid-tile class="logo3"></mat-grid-tile>
              </mat-grid-list>
              <hr>
              <div class="jobs-container">
                <mat-card class="card">
                  <span><span style="margin-left:8px;">POST 05/11</span><span style="float:right;margin-right:10px;"> REF NO: ADFI/01/2018</span></span>
                  <h5><strong>ASSISTANT DIRECTOR: FINANCE INFRASTRUCTURE</strong></h5>
                  <h6><strong>SALARY : R334 545 per annum</strong></h6>
                  <h6><strong>CENTRE : Polokwane</strong></h6>
                  <h6><strong>REQUIREMENTS:</strong><br><br>Bachelor’s Degree or National Diploma in Finance or Commerce or Accounting or Economics. Valid Driver’s Licence. Computer literate. Three years ‘relevant experience post qualification.</h6>
                  <h6><strong>DUTIES :</strong><br><br> The incumbent of the post will assist with the coordination of all Financial Management functions Extract, analyse and validate financial information for infrastructure projects/programmes. Provide financial administration services for all infrastructure Programmes and Projects. Prepare financial reports. Provide budget administration services. Update and maintain a document management system for all financial documentation.</h6>
                  <h6><strong>ENQUIRIES :</strong><br><br> Enquiries regarding applications: Ms J Masipa 012 357 3295/ Ms N Monyela 012 357 3294 Enquiries regarding posts: Mr PL Swanepoel 015 290 7881/Mr MT Senyatsi 015 290 7772</h6>
                  <h6><strong>NOTE :</strong><br><br> The successful candidate will sign an annual performance agreement, annually disclose his/her financial interests and be subjected to a security clearance. Short-listed candidates may be required to make a presentation to the interview panel, as well as undergo a writing test.</h6>
                </mat-card>
                <mat-card class="card">
                  <span><span style="margin-left:10px;">POST 05/11</span><span style="float:right;margin-right:10px;"> REF NO: ADFI/01/2018</span></span>
                  <h5><strong>ASSISTANT DIRECTOR: FINANCE INFRASTRUCTURE</strong></h5>
                  <h6><strong>SALARY : R334 545 per annum</strong></h6>
                  <h6><strong>CENTRE : Polokwane</strong></h6>
                  <h6><strong>REQUIREMENTS:</strong><br><br>Bachelor’s Degree or National Diploma in Finance or Commerce or Accounting or Economics. Valid Driver’s Licence. Computer literate. Three years ‘relevant experience post qualification.</h6>
                  <h6><strong>DUTIES :</strong><br><br> The incumbent of the post will assist with the coordination of all Financial Management functions Extract, analyse and validate financial information for infrastructure projects/programmes. Provide financial administration services for all infrastructure Programmes and Projects. Prepare financial reports. Provide budget administration services. Update and maintain a document management system for all financial documentation.</h6>
                  <h6><strong>ENQUIRIES :</strong><br><br> Enquiries regarding applications: Ms J Masipa 012 357 3295/ Ms N Monyela 012 357 3294 Enquiries regarding posts: Mr PL Swanepoel 015 290 7881/Mr MT Senyatsi 015 290 7772</h6>
                  <h6><strong>NOTE :</strong><br><br> The successful candidate will sign an annual performance agreement, annually disclose his/her financial interests and be subjected to a security clearance. Short-listed candidates may be required to make a presentation to the interview panel, as well as undergo a writing test.</h6>
                </mat-card>
                <mat-card class="card">
                  <span><span style="margin-left:10px;">POST 05/11</span><span style="float:right;margin-right:10px;"> REF NO: ADFI/01/2018</span></span>
                  <h5><strong>ASSISTANT DIRECTOR: FINANCE INFRASTRUCTURE</strong></h5>
                  <h6><strong>SALARY : R334 545 per annum</strong></h6>
                  <h6><strong>CENTRE : Polokwane</strong></h6>
                  <h6><strong>REQUIREMENTS:</strong><br><br>Bachelor’s Degree or National Diploma in Finance or Commerce or Accounting or Economics. Valid Driver’s Licence. Computer literate. Three years ‘relevant experience post qualification.</h6>
                  <h6><strong>DUTIES :</strong><br><br> The incumbent of the post will assist with the coordination of all Financial Management functions Extract, analyse and validate financial information for infrastructure projects/programmes. Provide financial administration services for all infrastructure Programmes and Projects. Prepare financial reports. Provide budget administration services. Update and maintain a document management system for all financial documentation.</h6>
                  <h6><strong>ENQUIRIES :</strong><br><br> Enquiries regarding applications: Ms J Masipa 012 357 3295/ Ms N Monyela 012 357 3294 Enquiries regarding posts: Mr PL Swanepoel 015 290 7881/Mr MT Senyatsi 015 290 7772</h6>
                  <h6><strong>NOTE :</strong><br><br> The successful candidate will sign an annual performance agreement, annually disclose his/her financial interests and be subjected to a security clearance. Short-listed candidates may be required to make a presentation to the interview panel, as well as undergo a writing test.</h6>
                </mat-card>
                <mat-card class="card">
                  <span><span style="margin-left:10px;">POST 05/11</span><span style="float:right;margin-right:10px;"> REF NO: ADFI/01/2018</span></span>
                  <h5><strong>ASSISTANT DIRECTOR: FINANCE INFRASTRUCTURE</strong></h5>
                  <h6><strong>SALARY : R334 545 per annum</strong></h6>
                  <h6><strong>CENTRE : Polokwane</strong></h6>
                  <h6><strong>REQUIREMENTS:</strong><br><br>Bachelor’s Degree or National Diploma in Finance or Commerce or Accounting or Economics. Valid Driver’s Licence. Computer literate. Three years ‘relevant experience post qualification.</h6>
                  <h6><strong>DUTIES :</strong><br><br> The incumbent of the post will assist with the coordination of all Financial Management functions Extract, analyse and validate financial information for infrastructure projects/programmes. Provide financial administration services for all infrastructure Programmes and Projects. Prepare financial reports. Provide budget administration services. Update and maintain a document management system for all financial documentation.</h6>
                  <h6><strong>ENQUIRIES :</strong><br><br> Enquiries regarding applications: Ms J Masipa 012 357 3295/ Ms N Monyela 012 357 3294 Enquiries regarding posts: Mr PL Swanepoel 015 290 7881/Mr MT Senyatsi 015 290 7772</h6>
                  <h6><strong>NOTE :</strong><br><br> The successful candidate will sign an annual performance agreement, annually disclose his/her financial interests and be subjected to a security clearance. Short-listed candidates may be required to make a presentation to the interview panel, as well as undergo a writing test.</h6>
                </mat-card>
                <mat-card class="card">
                  <span><span style="margin-left:10px;">POST 05/11</span><span style="float:right;margin-right:10px;"> REF NO: ADFI/01/2018</span></span>
                  <h5><strong>ASSISTANT DIRECTOR: FINANCE INFRASTRUCTURE</strong></h5>
                  <h6><strong>SALARY : R334 545 per annum</strong></h6>
                  <h6><strong>CENTRE : Polokwane</strong></h6>
                  <h6><strong>REQUIREMENTS:</strong><br><br>Bachelor’s Degree or National Diploma in Finance or Commerce or Accounting or Economics. Valid Driver’s Licence. Computer literate. Three years ‘relevant experience post qualification.</h6>
                  <h6><strong>DUTIES :</strong><br><br> The incumbent of the post will assist with the coordination of all Financial Management functions Extract, analyse and validate financial information for infrastructure projects/programmes. Provide financial administration services for all infrastructure Programmes and Projects. Prepare financial reports. Provide budget administration services. Update and maintain a document management system for all financial documentation.</h6>
                  <h6><strong>ENQUIRIES :</strong><br><br> Enquiries regarding applications: Ms J Masipa 012 357 3295/ Ms N Monyela 012 357 3294 Enquiries regarding posts: Mr PL Swanepoel 015 290 7881/Mr MT Senyatsi 015 290 7772</h6>
                  <h6><strong>NOTE :</strong><br><br> The successful candidate will sign an annual performance agreement, annually disclose his/her financial interests and be subjected to a security clearance. Short-listed candidates may be required to make a presentation to the interview panel, as well as undergo a writing test.</h6>
                </mat-card>
                <mat-card class="card">
                  <span><span style="margin-left:10px;">POST 05/11</span><span style="float:right;margin-right:10px;"> REF NO: ADFI/01/2018</span></span>
                  <h5><strong>ASSISTANT DIRECTOR: FINANCE INFRASTRUCTURE</strong></h5>
                  <h6><strong>SALARY : R334 545 per annum</strong></h6>
                  <h6><strong>CENTRE : Polokwane</strong></h6>
                  <h6><strong>REQUIREMENTS:</strong><br><br>Bachelor’s Degree or National Diploma in Finance or Commerce or Accounting or Economics. Valid Driver’s Licence. Computer literate. Three years ‘relevant experience post qualification.</h6>
                  <h6><strong>DUTIES :</strong><br><br> The incumbent of the post will assist with the coordination of all Financial Management functions Extract, analyse and validate financial information for infrastructure projects/programmes. Provide financial administration services for all infrastructure Programmes and Projects. Prepare financial reports. Provide budget administration services. Update and maintain a document management system for all financial documentation.</h6>
                  <h6><strong>ENQUIRIES :</strong><br><br> Enquiries regarding applications: Ms J Masipa 012 357 3295/ Ms N Monyela 012 357 3294 Enquiries regarding posts: Mr PL Swanepoel 015 290 7881/Mr MT Senyatsi 015 290 7772</h6>
                  <h6><strong>NOTE :</strong><br><br> The successful candidate will sign an annual performance agreement, annually disclose his/her financial interests and be subjected to a security clearance. Short-listed candidates may be required to make a presentation to the interview panel, as well as undergo a writing test.</h6>
                </mat-card>
                <mat-card class="card">
                  <span><span style="margin-left:10px;">POST 05/11</span><span style="float:right;margin-right:10px;"> REF NO: ADFI/01/2018</span></span>
                  <h5><strong>ASSISTANT DIRECTOR: FINANCE INFRASTRUCTURE</strong></h5>
                  <h6><strong>SALARY : R334 545 per annum</strong></h6>
                  <h6><strong>CENTRE : Polokwane</strong></h6>
                  <h6><strong>REQUIREMENTS:</strong><br><br>Bachelor’s Degree or National Diploma in Finance or Commerce or Accounting or Economics. Valid Driver’s Licence. Computer literate. Three years ‘relevant experience post qualification.</h6>
                  <h6><strong>DUTIES :</strong><br><br> The incumbent of the post will assist with the coordination of all Financial Management functions Extract, analyse and validate financial information for infrastructure projects/programmes. Provide financial administration services for all infrastructure Programmes and Projects. Prepare financial reports. Provide budget administration services. Update and maintain a document management system for all financial documentation.</h6>
                  <h6><strong>ENQUIRIES :</strong><br><br> Enquiries regarding applications: Ms J Masipa 012 357 3295/ Ms N Monyela 012 357 3294 Enquiries regarding posts: Mr PL Swanepoel 015 290 7881/Mr MT Senyatsi 015 290 7772</h6>
                  <h6><strong>NOTE :</strong><br><br> The successful candidate will sign an annual performance agreement, annually disclose his/her financial interests and be subjected to a security clearance. Short-listed candidates may be required to make a presentation to the interview panel, as well as undergo a writing test.</h6>
                </mat-card>
                <mat-card class="card">
                  <span><span style="margin-left:10px;">POST 05/11</span><span style="float:right;margin-right:10px;"> REF NO: ADFI/01/2018</span></span>
                  <h5><strong>ASSISTANT DIRECTOR: FINANCE INFRASTRUCTURE</strong></h5>
                  <h6><strong>SALARY : R334 545 per annum</strong></h6>
                  <h6><strong>CENTRE : Polokwane</strong></h6>
                  <h6><strong>REQUIREMENTS:</strong><br><br>Bachelor’s Degree or National Diploma in Finance or Commerce or Accounting or Economics. Valid Driver’s Licence. Computer literate. Three years ‘relevant experience post qualification.</h6>
                  <h6><strong>DUTIES :</strong><br><br> The incumbent of the post will assist with the coordination of all Financial Management functions Extract, analyse and validate financial information for infrastructure projects/programmes. Provide financial administration services for all infrastructure Programmes and Projects. Prepare financial reports. Provide budget administration services. Update and maintain a document management system for all financial documentation.</h6>
                  <h6><strong>ENQUIRIES :</strong><br><br> Enquiries regarding applications: Ms J Masipa 012 357 3295/ Ms N Monyela 012 357 3294 Enquiries regarding posts: Mr PL Swanepoel 015 290 7881/Mr MT Senyatsi 015 290 7772</h6>
                  <h6><strong>NOTE :</strong><br><br> The successful candidate will sign an annual performance agreement, annually disclose his/her financial interests and be subjected to a security clearance. Short-listed candidates may be required to make a presentation to the interview panel, as well as undergo a writing test.</h6>
                </mat-card>



              </div>

            </div>

        </div>
    </div>
</div>
