mat-toolbar{
  background-color: white;
  width: 100%;
  padding: 0;
  margin-top: -8px;
  height: 10%;
  max-height:85px;
  min-height:90px;
  position: fixed;
  margin-left: 0px;
  z-index: 1;
}
mat-toolbar-row{
  /*display: none;*/
  width: 100%;
}

#namanyay-search-btn {
background:#0099ff;
color:white;
font: 'trebuchet ms', trebuchet;
padding:10px 20px;
border-radius:0 5px 5px 0;
-moz-border-radius:0 5px 5px 0;
-webkit-border-radius:0 5px 5px 0;
-o-border-radius:0 5px 5px 0;
border:0 none;
font-weight:bold;
}

#namanyay-search-box {
background: #eee;
padding:10px;
 border-radius:5px 0 0 5px;
-moz-border-radius:5px 0 0 5px;
-webkit-border-radius:5px 0 0 5px;
-o-border-radius:5px 0 0 5px;
border:0 none;
width:50%;
max-width: 500px;
 }

.counter{
margin-top:60px !important;
font-family: 'Iceberg', cursive;
font-size: 450%;
color: #D98D36

}

.login,.signup{
  margin-top: 25px;
}

.departments{
  margin-top: 25px;
  margin-right: 20px;
}

.logo1:hover {
      filter: grayscale(1%);
      opacity: 0.8;
}
.logo2:hover {
  filter: grayscale(1%);
  opacity: 0.8;
}
.logo3:hover {
  filter: grayscale(1%);
  opacity: 0.8;
}

.logo1{
  background: url("/assets/img1.png");
  background-size: 60%;
}
.logo2{
  background: url("/assets/img2.png");
  background-size: 30%;

}
.logo3{
  background: url("/assets/img3.png");
  background-size: 60%;
}

.logo1,.logo2,.logo3{
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(80%);
  opacity: 0.4

}


app-welcome{
  display: none;
}

.main-container{
  height: 100vh;
  width: 100%;
  display:flex;
  flex-direction:column;
  /*padding: 50px;*/
}
.section-1{
  width: 110%;
  margin-left: -10px;
  margin-top: 84px;
  flex:1 0 auto;
  padding: 0;
  /*background-image: linear-gradient(90deg, #243949 50%, #e9f4fd 0%);*/
}

.example-spacer {
  flex: 1 1 auto;
}
.signup{
  margin-left: 20px;
  margin-right: 10%;
}
.menu-small{
  display: none;
  background-color: none;
  margin-top: 25px;
}

.left-container{
  display: inline;
  float: left;

  margin-top: 10%;
}

.home-message{
  color: white;
  padding: 10px;
  font-size: 50px;
  width: auto;
  margin-top: 6%;
  /*font-family: 'Candal', sans-serif;*/
}
.home-message2{
  color: white;
  padding: 10px;
  font-size: 25px;
  word-wrap: break-word;
  font-weight: 100 !important;
  font-family: 'Gilda Display', serif;
  padding: 35px;
}
.logo{
  background: url("/assets/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 90px;
  width: 120px;
  top: 0;
  margin-top: 50px;
  margin-left: 8%;
}
.strech{
  height: 100%;

}
.row .no-float {
    display: table-cell;
    float: none;
}

.container
{
    height: 100%;
    display:table;
    width: 100%;
    margin-top: 36px;
    padding: 50px 0 0 0; /*set left/right padding according to needs*/
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
}

.row
{
    height: 100%;
}
@media (min-width: 992px) {
  .row .no-float {
      display: table-cell;
      float: none;
  }
}


@media (max-width: 613px) {

  .jobs-container{
    /*position: fixed;*/
    overflow-y: scroll;
    position: relative;
    margin-left: 10px;
    height: 150vmin !important;
  }
  .card > span {
    margin-left: -16px !important;
  }

  .max{
    max-height: 520px;
  }
  .container{
    position: relative;
  }
  .home-message2{
    display: none;
  }
  .home-message{
    font-size: 35px;
  }

  .departments{
    display: none;
  }

  .menu-small{
    display: block;
  }
  .signup,.login{
    display: none;
  }
  .logo{
      margin-top: 45px;
      height: 50px;
      margin-left: -5px;
  }
}

.logos{
  /*bottom: 0px;*/
  /*background-color: black;*/
  /*position: absolute;*/
  position:static;
}

.jobs-container{
  /*position: fixed;*/
  overflow-y: scroll;
  position: relative;
  height: 75vmin;
  margin-top: -10px;


}
.card{
  margin-top: 10px;
  width: 98%;
    opacity: 1;
    cursor: pointer;
    border-left: 20px !important;
    margin-left: 5px;
    border-color: black !important;

}
.card:hover{
  opacity: 0.6;
}

.card > span {
  width: 100% !important;
  margin-left: -25px;
  flex: 1 1 auto;
  background-color: #BDBDBD;
  top:0;
  /*margin-top: -25px;*/
  display: block;
  padding: 0px;
  position: absolute;
}


.apply-button{
  margin-left: auto;
  margin-right: auto;
  display: block;
  background: #FF5C5E;
  color: white;
  width: 60%;
  height:10%;
  margin-top: 10%;
  border-radius: 5px;
}

.apply {
  width: auto;
  max-width: 500px;
  margin-top: 10%;
}



#myFooter {
    background-color: #3c3d41;
    color: white;
    margin-right: auto !important;
    margin-left: auto !important;
    display: block !important;
    width: 100%;
    margin-left:65px !important;
}

#myFooter .footer-copyright {
    background-color: #333333;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .row {
    margin-bottom: 60px;
}

#myFooter .navbar-brand {
    margin-top: 45px;
    height: 65px;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: #ccc;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter h2 a{
    font-size: 50px;
    text-align: center;
    color: #fff;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

#myFooter .social-networks a {
    font-size: 32px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover {
    text-decoration: none;
}

#myFooter .facebook:hover {
    color: #0077e2;
}

#myFooter .google:hover {
    color: #ef1a1a;
}

#myFooter .twitter:hoer {
    color: #00aced;
}

#myFooter .btn {
    color: white;
    background-color: #d84b6b;
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
}


/* CSS used for positioning the footers at the bottom of the page. */
/* You can remove this. */


.content{

   min-height: 200px;
}

#myFooter{
   flex: 0 0 auto;
   -webkit-flex: 0 0 auto;
}
