<div layout="row" class="main-container">

<mat-toolbar class="mat-elevation-z4">
  <mat-toolbar-row>
      <div class="logo"></div>
     <span class="example-spacer"></span>
     <!-- <button mat-button class="login" (click)="navigate('login')">Sign in</button>
     <button mat-button class="signup">Sign up</button>
     <button mat-icon-button class="menu-small" [matMenuTriggerFor]="menu"><mat-icon style="color:#243949;">list</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item><mat-icon style="color:#243949;">list</mat-icon>Sign up</button>
      <button mat-menu-item><mat-icon style="color:#243949;">list</mat-icon>Sign in</button>
    </mat-menu> -->

     <!-- <p> Log in</p>
     <p class="signup">Sign Up </p> -->
   </mat-toolbar-row>
</mat-toolbar>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12 strech"  style="background-color:#EEF3F6" no-float>
          <mat-card  class="signin-card">
            <h3 align="center">Sign up mosaik</h3>
                <form class="form-style-7">
                <ul>
                <li>
                    <label for="firstname" class="label">First name</label>
                    <input type="text" name="firstname" maxlength="100">
                </li>
                <li>
                    <label for="lastname" class="label">Last name</label>
                    <input type="text" name="lastname" maxlength="100">
                </li>
                <li>
                    <label for="phone" class="label">Phone</label>
                    <input type="text" name="phone" maxlength="100">
                </li>
                <li>
                    <label for="email" class="label">Email</label>
                    <input type="email" name="email" maxlength="100">
                    <span>Enter a valid email address</span>
                </li>
                <li>
                    <label for="password" class="label">Password</label>
                    <input type="password" name="password" maxlength="100">
                </li>
                <button mat-button class="apply-button"><h4>Sign up</h4></button>
                <h5 align="center" style="margin-top:20px;margin-right:auto;margin-left:auto;display:block">
                </h5>
                </ul>
                <h5 align="center" style="margin-top:20px;margin-right:auto;margin-left:auto;display:block">
                  <span style="opacity:0.8;font-weight:200">Already have an account?</span> <span style="">Sign in</span>
                </h5>
            </form>
</mat-card>

        </div>

    </div>
</div>
</div>
