<mat-toolbar color="primary">
  <mat-toolbar-row style="background-color:#1D1F21">
      <span>Caurage</span>
<span class="example-spacer"></span>
    <img class="logo center" style="height:45px;float:right" src="assets/money.png" alt="" />

    </mat-toolbar-row>

</mat-toolbar>
<h4>BASE : EUR</h4>
<mat-form-field>
  <mat-select placeholder="{{currency}}" (selectionChange)="test($event)">
    <mat-option *ngFor="let x of currencylables" [value]="x.value">
      {{ x.viewValue }}
    </mat-option>
  </mat-select>
</mat-form-field>
<br>
<div  class="graph-container">
  <canvas class="graph"
      baseChart
      [chartType]="'line'"
      [datasets]="chartData"
      [labels]="chartLabels"
      [options]="chartOptions"
      [legend]="true"
      (chartClick)="onChartClick($event)">
  </canvas>
</div>
<br />
<br />
<br />
<hr>
<h6 id="source" align="center">http://wwww.fixer.io</h6>
<!-- <mat-spinner class="bottom_spiner"></mat-spinner> -->
